<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">  
  </head>

  <body>
    <div id="header_wrap" class="outer">
      <header class="inner">
        {% if site.github.is_project_page %}
          <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
        {% endif %}

        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
        <h2 id="project_tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      </header>
    </div>

    <div class="wrapper">
      <nav>
        <ul>
          <li> 
            <h4><u> Table of Contents </u></h4>
          </li>
        </ul>
      </nav>
      <section>
        This page was last updated at {{ "now" | date: "%Y-%m-%d %H:%M" }}.
        {{ content }}
      </section>  
    </div>

  </body>
</html>
